# Dependencies
node_modules/

# Build outputs
lib/
*.tsbuildinfo

# Environment variables
.env
.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log
ui-debug.log
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock